.header {
  padding: 15px;
  text-align: center;
  /*Colores*/
  background: #bc1ab7;
  color: white;
  /*Tamano letra y su estilo*/
  font-size: 25px;
  font-family: "Comic Sans MS", "Comic Sans"; /*Jejejejeje comic sans*/
}
h2 {
  color: pink;
  font-size: 30px;
  background: purple;
  padding-left: 10px;
  width: 40rem;
}
#Instagram
{
  padding-left: 10px;
}